* {
    margin: 0;
    padding: 0;
}

body{
    width: 400px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

h1,h2 {
    color: rgb(10, 10, 117);
}

.list {
    margin: 10px;
}


ul li a{
    text-decoration: none;
    color: rgb(16, 124, 16);
}