* {
    margin: 0;
    padding: 0;
}

body {
    background-color: gainsboro;
}

main {
    background-color: aqua;
    margin-left: 25%;
    margin-top: 5%;
    width: 660px;
    height: 440px;
}

.relative1 {

    background-image: url(../../IMG//yetti1.png);

}

.relative2 {
    background-image: url(../../IMG//yetti2.png);
}

.relative3 {
    background-image: url(../../IMG/yetti3.png);
}

.relative4 {
    background-image: url(../../IMG/yetti4.png);
}

.relative5 {
    background-image: url(../../IMG/yetti5.png);
}

.relative6 {
    background-image: url(../../IMG/yetti6.png);
}

.bendras {
    border: 1px solid goldenrod;
    margin: 10px;
    padding-left: 33px;
    width: 200px;
    height: 200px;
    float: left;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    position: relative;
}

.preBottom {
    background-color: darkorange;
    width: 198px;
    height: 20px;
    top: 180px;
    left: 0;
    font-size: 18px;
    position: absolute;
}

.preTop {
    background-color: darkorange;
    width: 198px;
    height: 20px;
    top: 0;
    left: 0;
    left: 0;
    font-size: 18px;
    position: absolute;
}

.debeselis {
    top: -60px;
    left: 30px;
    height: 60px;
    background-color: aliceblue;
    /*border: 1px black solid;*/
    border-radius: 50%;
    position: absolute;
}

#down-triangle {
    top: 43px;
    left: 28px;
    width: 0;
    height: 0;
    border-top: 30px solid aliceblue;
    border-left: 28px solid transparent;
    border-right: 28px solid transparent;
     position: absolute;
}
}
