* {
    margin: 0;
    padding: 0;
}

#section1 {
    background-color: #c6bfad;
}

body {
    width: 100%;
    background-color: #c6bfad;
}

nav {
    width: 100%;
    height: 60px;
    background-color: #c6bfad;
}

nav p {
    font-family: arial;
    color: snow;
    font-size: 24px;
    line-height: 55px;
    float: left;
    padding: 0px 20px;
}

nav ul {
    float: right;
}

nav ul li {
    float: left;
    list-style: none;
    position: relative;
}

nav ul li a {
    display: block;
    font-family: arial;
    color: snow;
    font-size: 17px;
    padding: 21px 14px;
    text-decoration: none;
}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: #7a766b;
    padding: 10px;
    border-radius: 0px 0px 4px 4px;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    width: 180px;
    border-radius: 4px;
}

nav ul li ul li a {
    padding: 8px 14px;
}

nav ul li ul li a:hover {
    background-color: #47453e;
}

.section2 {
    clear: both;
    width: 100%;
    height: 400px;
    background-color: #c6bfad;
}

.p1 {
    text-align: center;
    font-family: arial;
    font-size: 60px;
    line-height: 20px;
    color: snow;
    padding: 330px;
}

.section3 {
    clear: both;
    width: 100%;
    height: 200px;
    background-color: #c6bfad;
}

.p2 {
    text-align: center;
    font-family: arial;
    font-size: 30px;
    line-height: 80px;
    color: snow;
    padding: 600px;
}

.section4 {
    margin 0;
    width: 100%;
    padding: 100px;
    line-height: 20px;
}

.button {
    margin: 0;
    background-color: green;
    width: 150px;
    height: 50px;
    color: snow;
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    background-color: white;
    padding: 40px;
}

hr {
    width: 30px;
}

.custom {
    padding: 30px;
    text-align: center;
    height: 200px;
}

.text {
    font-family: sans-serif;
    font-size: 24px;
}

.ptext {
    font-family: sans-serif;
    font-size: 20px;
    line-height: 80px;
    text-align: justify;
    color: rgb(155, 155, 155);
}

.box1 {
    grid-column: 1/2;
    grid-row: 1/3;
}

.box2 {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: #ad646f;
}

.box3 {
    grid-column: 3/5;
    grid-row: 1/2;
    background-color: #efe8e9;
}

.box4 {
    grid-column: 2/4;
    grid-row: 2/3;
    background-color: #bae2e0;
}

.box5 {
    grid-column: 4/5;
    grid-row: 2/3;
    background-color: #79b9ce;

}
.ptexts{
    text-align: justify;
    color: rgb(95, 95, 95);
}

.boxs1 {
    grid-column: 1/2;
    grid-row: 1/3;
}

.boxs2 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.boxs3 {
    grid-column: 3/4;
    grid-row: 1/2;
}

.boxs4 {
    grid-column: 4/5;
    grid-row: 1/2;
}

.boxs5 {
    grid-column: 2/3;
    grid-row: 2/3;
}

.boxs6 {
    grid-column: 3/4;
    grid-row: 2/3;
}

.boxs7 {
    grid-column: 4/5;
    grid-row: 2/3;
}

.fa {
    position: relative;
    clear: both;
    left: -100px;
    padding-bottom: 30px;
    font-size: 50px;
    color: gainsboro;
}

h3{
    text-align: left;
    color: rgb(161, 161, 161);
    padding-bottom: 10px;
}


