* {
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-gap: 2px;
    width: 620px;
    height: 300px;
    background-color: #ffffea;
    margin-left: 350px;
    margin-top: 20px;
}

.box1 {
    color: snow;
    margin: 15px;
    font-size: 60px;
    border-radius: 25px;
    background: #efc2c2;
    padding: 20px;
    width: 140px;
    height: 80px;
}

.item1 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.item2 {
    grid-column: 2/3;
    grid-row: 2/3;
}

.item3 {
    grid-column: 3/4;
    grid-row: 2/3;
}

.item4 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.item5 {
    grid-column: 1/2;
    grid-row: 2/3;
}

.item6 {
    grid-column: 3/4;
    grid-row: 1/2;
}
