* {
    margin: 0;
    padding: 0;
}

.sumustekas {
    width: 400px;
    margin: auto;
}

.sumustekas div {
    text-align: center;
    margin: auto;
}

h1,
h2 {
    text-align: center;
    padding-top: 16px;
    color: brown;
}

.bandele-top {
    width: 280px;
    height: 60px;
    background-color: #E5B05A;
    border-radius: 50px 50px 10px 10px;
    border-bottom: 10px solid #CE9E51;
}

.suris {
    width: 300px;
    height: 13px;
    background-color: rgb(239, 192, 38);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.kecupas {
    width: 240px;
    height: 25px;
    background-color: rgb(204, 47, 20);
}

.svogunas {
    width: 200px;
    background-color: rgb(142, 43, 175);
    border-width: 100px;
    border-bottom: 20px dotted rgb(177, 68, 214);
}

.mesa {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: rgb(96, 38, 8);
    display: inline-block;
    border-radius: 50% 50% 50% 50%;
}

.agurkelis {
    position: relative;
    top: -4px;
    height: 25px;
    width: 240px;
    border-radius: 12px 12px 64px 64px;
    background-color: rgb(65, 186, 131);
    border-bottom: 8px solid rgba(0, 0, 0, 0.1);
}

.mesos-paplotelis{
    position: relative;
    top: -4px;
    width: 300px;
    height: 30px;
    border-radius: 12px;
    background-color: rgb(168, 69, 23);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.bandele-bottom{
    position: relative;
    top: -4px;
    width: 280px;
    height: 30px;
    background-color: #E5B05A;
    border-radius: 10px 10px 50px 50px;
    border-top: 10px solid #CE9E51;
}

.lekste{
    position: relative;
    top: -4px;
    height: 22px;
    border-radius: 10px 10px 50px 50px;
    background-color: rgb(73, 85, 86);
}
    