ul {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 300px;
}

li:nth-child(even) {
    background-color: darkgray;
}

li:nth-child(odd) {
    background-color: lightgray;
}

a:hover {
    color: red;
}
