* {
    margin: 0;
    padding: 0;
}

.first {
    width: 900px;
    margin: auto;
}

.green {
    background-color: green;
    color: white;
}

.grey {
    width: 300px;
    background-color: #585858;
    float: left;
}

.light_grey {
    width: 300px;
    background-color: lightgrey;
    float: left;
}