* {
    margin: 0;
}

body {
    padding-bottom: 70px;
}



img {
    width: 100%;
    height: auto;
}

.btnhelp {
    padding-left: 440px;
    padding-bottom: 20px;
}

.glyphicon {
    font-size: 50px;
    padding-top: 60px;
}

.border {
    border-left: 1px dashed gray;
}
