div {
    background-color: lightblue;
    width: 500px;
    height: 400px;
    margin:  0 auto;
    border: 1px solid goldenrod;

}


ul {
    padding: 0;
    list-style: none;
}

ul li {

    float: left;
     
    width: 121px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: gray;
    color: white;
    opacity: 0.8;
    display: inline-block;


}

ul li a {
    text-decoration: none;
    display: block;
    color: white;
}

ul li :hover {
    background-color: azure;
    color: grey;

}

ul li ul li {
    border-style: none;
    display: none;
    position: absolute;

}

ul li:hover ul li {
    display: block;
}
