main {
    width: 100%;
    height: 700px;
    margin: 0 auto;
    box-sizing: border-box;

}

.sec1 {
    clear: both;
    float: left;
    width: 100%;
    height: 33%;
    background-color: #88cbe8;
}

.sec2 {
    clear: both;
    float: left;
    width: 100%;
    height: 33%;
    background-color: #378761;
}

.sec3 {
    clear: both;
    float: left;
    width: 100%;
    background-color: aqua;
    border-top: 20px solid grey;
}

.sec4 {
    clear: both;
    float: left;
    width: 100%;
    height: 13%;
    background-color: dimgrey;
    border-bottom: 10px dashed white;
}

.sec5{
    clear: both;
    float: left;
    width: 100%;
    height: 13%;
    background-color: dimgrey;
}

img {
    width: 100px;
    height: 100px;
    position: relative;
    -webkit-animation: mymove 6s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 6s infinite;
    bottom: 100px;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
    from {left: -150px;}
    to {left: 1600px;}
}

@keyframes mymove {
    from {left: -150px;}
    to {left: 1600px;}
}
