section {
    width: 400px;
    margin: auto;
    padding: 1%;
    text-align: center;
    font-family: cursive;
    background-color: darkorange;
    color: azure;
    border-radius: 12px;

   
   border: 10px solid transparent;
  -webkit-border-image: url(../../../IMG/images.jpg);
  -o-border-image: url(../../../IMG/images.jpg) 30% round; /* Opera 11-12.1 */
  border-image: url(../../../IMG/images.jpg) 30% round;

   
}
