ul {
    width: 900px;
    font-family: serif;
    margin: auto;
}

li:first-child {
    color: orange;
}

li:nth-child(4n+3) {
    color: aqua;
}

li:nth-child(3n+2):hover {
    background-color: red;
}
