a {
    color: blue;
}


/* Nuorodos, 
kurios prasideda ženklu #,
fono spalva yra auksinė */

a:link[href^="#"] {
    background-color: gold;
}


/* Nuorodos, 
kurių tinklalapių plėtiniai yra .org, 
teksto spalva yra raudona */

a:link[href$="org"] {
    color: red;
}


/* !!! Nuorodos, 
kurių URL adrese yra žodis "example",
fono spalva yra rožinė */
a:link[href*="example"]{
    background-color: deeppink;
}