* {
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    width: 422px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.main {
    border: 1px solid grey;
    box-shadow: 5px 5px rgb(167, 165, 165);
    /* background-color: aqua; */
}

.second {
    border: 1px solid grey;
    padding: 10px;
    margin: 10px;
}

h3,
img {
    padding: 10px;
}

ul li {
    list-style: none;
}

p {
    padding-bottom: 5px;
    padding-top: 5px;
}