* {
    margin: 0 auto;
    box-sizing: border-box;
}

main {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

P {
    height: 100px;
    background-color: #223c5b;
    text-align: center;
    color: azure;
    padding-top: 40px;
}

.flex-c {
    display: flex;
    background-color: aliceblue;
    flex-wrap: wrap;
}

.box {
    flex-basis: 230px; /*width*/
    height: 100px;
    flex-grow: 1;
}

.b1 {
    background: #5d2360;
}

.b2 {
    background: #d15e78;
}

.b3 {
    background: #eaa948;
}
