nav {
    background-color: steelblue;
    width: 500px;
    height: 400px;
    margin: auto;
    border: 1px solid goldenrod;
}

ul {

    list-style-type: none;

}

li {
    background-color: gray;
    color: white;
    display: inblock;
    border-collapse: collapse;
    width: 80px;
    /*height: 90%;*/
    
    


}

a {
    color: inherit;
    text-decoration: none;
    line-height: 80px;
    margin-left: 12px;
}

li:hover {
    background-color: white;
    color: gray;
}
