* {
    box-sizing: border-box;
}

main {
    width: 1025px;
    margin: 0 auto;
    border: solid 1px goldenrod;
    font-family: "Lucida Sans", sans-serif;
    padding-bottom: 5px;
}

header {
    width: 100%;
}

header div {
    width: 400px;
    float: left;
    color: aqua;
}

nav ul {
    float: right;
    list-style: none;
}


nav ul li {
    float: left;
    width: 100px;
    text-align: center;

}

nav ul a {
    text-decoration: none;
    color: skyblue;

}

section {
    clear: both;
    text-align: center;
    background-color: aquamarine;
    padding-bottom: 40px;
    padding-top: 20px;
    color: aliceblue;
    font-family: sans-serif;
}

article {

    width: 100%;
}

h3 {
    color: cadetblue;
}

.left {
    padding-right: 5%;
    width: 33%;
    float: left;
}

.middle {
    width: 33%;
    float: left;
    color: aliceblue;
    text-align: center;
}

#middleBackground {
    background-color: aquamarine;
    background: -webkit-linear-gradient(aquamarine, white);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(aquamarine, white);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(aquamarine, white);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(aquamarine, white);
    /* Standard syntax */
}

.persidengimas {
    position: relative;
    top: -97px;

    background-color: rgba(9, 32, 86, 0.9);
    color: aliceblue;
}

.right {
    padding-left: 5%;
    width: 33%;
    float: left;
}

footer {
    clear: both;
    background-color: #ccd1cf;
    text-align: center;
    padding: 5px;
}

 


@media screen and (max-width: 959px) {
    main {
        width: 100%;
    }
    
    img{
        width: 100%;
    }
    
    .left{
        width: 70%;
    }
    .right {
        width: 30%;
    }
}

@media screen and (max-width: 640px){
    .left{
        width: 100%;
    }
    .right {
        width: 100%;
        border-left: 0;
        border-top: 1px dotted grey;
    }
}

@media print {
    media {
        font-size: 12pt;
        font-family: "Times New Roman";
        border: 2px solid black;
    }
}
