* {
    margin: 0;
    padding: 0;
}

body {
    width: 400px;
    margin: auto;
}

.first {
    background-color: antiquewhite;
    height: 250px;
    color: darkgray;
    margin: auto;
}

p {
    padding-top: 25px;
    font-size: 25px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.border1 {
    border-bottom: 2px dotted darkgray;
}

.second {
    width: 200px;
    margin: auto;
}

h1 {
    color: coral;
    background-color: antiquewhite;
    padding: 10px;
}

span{
    padding-right: 10px;
}

p::before {
    content: "";
}