.style1 {
    width: 600px;
    margin: 0 auto;
}

div {
    color: darkgrey;
    clear: both;
}

div p:nth-child(even) {
    color: deeppink;
}




p:hover {
    color: hotpink;
}

div p:nth-child(even):hover {
    color: aquamarine;
}
