.style1 {
    width: 900px;
    margin: 0 auto;
}

table {
    font-family: verdana;
    border-collapse: collapse;
    width: 100%;

}

td,
th {
    border-collapse: collapse;
    text-align: left;
    padding: 8px;
}

tr:first-child {
    background-color: #dddddd;
}
tr:last-child {
    background-color: darkorange;
}

tr:hover {
    background-color: red;
}
