*{
    margin: 0;
    padding: 0;
}
.fonas {
    margin: auto;
    border: 1px solid red;
    width: 700px;
    height: 700px;
    background-image: url(../../../IMG/flowers.jpg), url(../../../IMG/cdb6a4bb191c5f7730262d582cf3b5b2.png);
    background-size: 200px, 700px 700px ;
    background-repeat: no-repeat;
    background-position: right 3em bottom 100px, center center;
}
