div {
    background-color: steelblue;
    width: 500px;
    height: 400px;
    margin: auto;
    border: 1px solid goldenrod;

}

nav {
    width: 90%;
    margin: 0 auto;
}

ul {

    list-style-type: none;
    padding: 0;

}

li {
    background-color: gray;
    color: white;
    display: inline-block;
    margin: -2px;
    width: 25%;
    height: 60px;
    text-align: center;



}

a {
    color: inherit;
    text-decoration: none;
    line-height: 60px;
}

li:hover {
    background-color: white;
    color: gray;
}
