.relative {
    position: relative;
    width: 600px;
    height: 400px;
    margin: 50px;
    background-color: aqua;
    background-image: url(../../../IMG/background3.jpg);
    background-repeat: no-repeat;
    background-size: 600px, 400px;
}

.absolute {
    position: absolute;
    top: 155px;
    left: 135px;
    width: 250px;
    height: 200px;
    font-family: fantasy;
    font-size: 13px;
    color: saddlebrown;

}
