* {
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    width: 770px;
    height: 400px;
    background-color: gainsboro;
}

h3,
h4,
p,
label {
    padding: 10px;
}

p {
    font-style: italic;
}

div > ul {
    list-style: none;
}
span{
    color: firebrick;
    font-family: sans-serif;
    font-size: 24px;
    font-style: oblique;
}