* {
    margin: 0;
}


body {
    width: 300px;
    height: 300px;
    background-color: gainsboro;
}

h3 {
    margin-left: 300px;
    width: 300px;
}

textarea,
input {
    width: 300px;
    margin-left: 300px;

}
