* {
    margin: 0;
}


body {
    width: 300px;
    height: 600px;
}
h3{
    text-align: center;
    margin-left: 100px;
}

textarea {
    width: 400px;
    height: 100px;
    margin-left: 300px;
    margin-top: 20px;
}

input {
    margin-left: 300px;
    margin-top: 20px;
}

div {
    margin-left: 300px;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid red;
    background-color: snow;
    width: 400PX;
    height: 250px;
}
