* {
    margin: 0;
    padding: 0;
}

body {
    width: 300px;
    height: 20px;
    margin: auto;
    padding: 10px;
    border: 1px solid grey;
}

div {
    padding: 5px;
    background-color: gainsboro;
}

h3 {
    text-align: center;
    background-color: gainsboro;
}
