.naujas {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url("../../IMG/paper.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 280px;
}

p {
    color: blue;
    font-size: 24px;
}

button {
    padding: 20px;
    margin: 20px;
    color: red;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
}