* {
    margin: 0;
    padding: 0;
}

body {
    padding: 20px;
    width: 400px;
    height: 400px;
    margin: auto;
    border: 1px solid green;
}

input {
    margin: auto;
    padding: 5px;
}

img {
    clear: both;
    padding-top: 20px;
    margin: auto;
    float: left;
}
.small{
    width: 300px;
    height: 200px;
}

.big{
    width: 400px;
    height: 300px;
}