* {
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    padding: 20px;
    height: 200px;
    width: 300px;
    background-color: lavender;
}

.ziema {
    background-image: url(../../IMG/ziema.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.pavasaris {
    background-image: url(../../IMG/pavasaris.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.ruduo {
    background-image: url(../../IMG/ruduo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.vasara {
    background-image: url(../../IMG/vasara.png);
    background-repeat: no-repeat;
    background-size: cover;
}
