* {
    margin: 0;
    padding: 0;
}

body {
    width: 600px;
    height: 400px;
    margin: auto;
    border: 1px solid green;
}

form {
    margin: auto;
    padding: 10px;
}

.hidden {
    display: none;
}