* {
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    padding: 20px;
    width: 400px;
    height: 600px;
    border: 1px solid gainsboro;
    color: snow;
}

div {
    padding: 10px;
    background-color: lightgreen;
}

h3 {
    text-align: center;
    font-family: serif verdana;
    color: cadetblue;
    padding: 10px;
}
div>ol {
    margin: auto;
    padding: 10px;
}

.hidden {
    display: none;
}