* {
    margin: 0;
    padding: 0;
}

body {
    padding: 20px;
    width: 400px;
    height: 200px;
    margin: auto;
    border: 2px solid green;
}

.zalia {
    color: green;
}

.raudona {
    color: red;
}

.geltona {
    color: yellow;
}
