* {
    margin: 0;
    padding: 0;
}

body {
    padding: 20px;
    width: 600px;
    height: 600px;
    margin: auto;
    border: 2px solid green;
}

button {
    margin: auto;
    padding: 5px;
}

img {
    clear: both;
    padding-top: 10px;
    margin: auto;
}

.text {
    line-height: 24px;
    font-size: 20px;
    padding: 5px;
}

.textLorem {
    clear: both;
    padding: 10px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.hidden {
    display: none;
}

.image{
    content: url("../../IMG/html5.png");
}
