* {
    margin: 0;
    padding: 0;
}

body {
    padding: 20px;
    width: 400px;
    height: 400px;
    margin: auto;
    border: 2px solid green;
}

input {
    margin: auto;
    padding: 5px;
}

img {
    clear: both;
    padding-top: 20px;
    margin: auto;
    float: left;
}

.color{
   filter: url(../paveiksleliai/html5.png);
}
.grayscale{
     -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}