* {
    margin: 0;
    padding: 0;
}

.first {
    margin: auto;
    width: 400px;
    height: 400px;
    border: 1px solid green;
    padding: 10px;
}

p {
    padding: 20px;
}
table{
    width: 100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}