* {
    margin: auto;
}

body {
    width: 600px;
    border: 1px solid greenyellow;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: grey;
}

header h2 {
    padding: 20px;
    text-align: center;
}

.search-container button:hover {
    background: #ccc;
}

.search{
    padding:  10px;
}

input[type=text] {
    border: 1px solid #ccc;
}

.grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    border: 1px solid gainsboro;
}

.img {
    width: 200px;
    height: 250px;
}

.box1 {
    clear: both;
    text-align: left;
}